/* PC - Introduction  */
.sectionTitle-Navy {
  @apply mb-[42px] font-bold text-[48px] text-[#00688A];
}
.sectionTitle-Black {
  @apply font-bold text-[48px] leading-[62px] text-gray-900;
}
.main-section-bg {
  background-image: url('/images/landing/section2-bg.png');
  background-repeat: no-repeat;
  background-size: 70%;

  background-position: right bottom;
}
.main-section-phone {
  width: 100% !important;
  height: auto;
  object-fit: contain;
  position: absolute;
  z-index: 10;
  max-width: 40%;
  min-width: 500px;
}
.main-section-phone-L {
  bottom: 0px;
  left: 0;
}
.main-section-phone-R {
  top: 0px;
  right: 0;
  transform: translateY(0);
}
.stamp-section-phone {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  z-index: 10;
  max-width: 375px;
}
.region-stamp {
  position: absolute;
}
.region-stamp.stamp1 {
  top: 190px;
  right: 214px;
}
.region-stamp.stamp2 {
  top: 442px;
  right: 59px;
}
.region-stamp.stamp3 {
  top: 315px;
  left: 107px;
}
.region-stamp.stamp4 {
  bottom: 33px;
  right: 117px;
}
.region-stamp.stamp5 {
  bottom: 65px;
  left: 236px;
}

.landing-tour-slide .swiper-wrapper {
  transition-timing-function: linear !important;
}

.tour-section-phone {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 10;
  max-width: 460px;
}

@media (max-width: 1920px) {
  .tour-section-phone {
    width: 100% !important;
    max-width: 460px;
  }
}
@media (max-width: 1500px) {
  .tour-section-phone {
    width: 50vw !important;
    /* max-width: 375px; */
  }
}
@media (max-width: 1200px) {
  .tour-section-phone {
    width: 100% !important;
    max-width: 375px;
  }
}

.fadeUp {
  transform: translateY(-100px);
  transition:
    transform 0.5s ease-out,
    opacity 0.5s ease-out;
  opacity: 1 !important;
}
.phone-fadeUp {
  transform: translateY(-100px);
  transition:
    transform 0.5s ease-out,
    opacity 0.5s ease-out;
  opacity: 1 !important;
}
.phone-fadeDown {
  transform: translateY(100px);
  transition:
    transform 0.5s ease-out,
    opacity 0.5s ease-out;
  opacity: 1 !important;
}

.fadeIn {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.fadeIn.visible {
  opacity: 1;
}

.main-section-fade1 {
  transform: translateY(10px);
  transition:
    transform 0.5s ease-out,
    opacity 1s ease-out;
  opacity: 1 !important   ;
}
.main-section-fade2 {
  transform: translateY(10px);
  transition:
    transform 0.5s ease-out,
    opacity 2s ease-out;
  opacity: 1 !important   ;
}
@keyframes textBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounce {
  display: inline-block;
  animation: textBounce 0.8s ease infinite;
}

.bounce2 {
  animation-delay: 0.1s;
}

.section1 > .top {
  background-image: url('/images/landing/section1-1.png');
  background-size: cover;
  background-position: center;
  height: 80vh;
  min-width: 600px;
  max-height: 80vh;
}

@media (min-width: 1024px) {
  .section1 > .top {
    height: 70vh;
  }
}

/* Mobile - Tutorial  */
.tutorial-container {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.tutorial-container .slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300%; /* 슬라이드 개수 */
  height: 90%;
}

.tutorial-container .slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}
.tutorialTitle {
  @apply mb-[12px] font-bold text-[28px] text-[#00688A];
}
