.swiper-pagination {
  --swiper-pagination-bottom: -34px;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-horizontal-gap: 6px;
}

.swiper-pagination-bullet {
  --swiper-pagination-color: #004157;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.swiper-wrapper {
  @apply flex items-center;
}

.swiper-slide {
  @apply flex w-full shrink-0 items-center justify-center transition-transform duration-1000 ease-in-out;
}

.swiper-slide-active {
  @apply lg:z-10 lg:h-[368px] lg:w-[100%];
}
