.stamp-item::before {
  content: '자세히 보기';
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #363636;
  opacity: 0;
  color: #fff;
  transition: opacity 0.3s;
}

.isInfo:hover > div {
  @apply flex;
}

@media (min-width: 1024px) {
  .stamp-item:hover::before {
    opacity: 0.8;
  }
}
