@media (min-width: 1024px) {
  /* .swiper {
    width: auto;
  } */
  .tourism-swiper {
    padding-right: calc((100vw - 1080px) / 2) !important;
  }
  .tourism-swiper .swiper-wrapper {
    padding-left: calc((100vw - 1080px) / 2);
  }
}
.ellipsis-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
